<div class="container">
    <div class="header__inner">
        <a href="./index-logined.html" class="logo">
            <img src="./assets/img/logo.png" alt="" class="logo__img" />
            <h1 class="logo__text">GenAI</h1>
        </a>
        <nav class="header-navbar">
            <ul class="header-navbar__list">
                <li class="header-navbar__item">
                    <a href="./index-logined.html" class="header-navbar__link"
                        >Home</a
                    >
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">About us</a>
                </li>
                <li class="header-navbar__item">
                    <a href="./chat.html" class="header-navbar__link">Chat</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">FAQ</a>
                </li>
            </ul>
        </nav>

        <div class="header-action">
            <a href="#" class="header-action__container">
                <img
                    src="./assets/img/avt/avt1.jpg"
                    alt=""
                    class="header-action__avt"
                />
            </a>
            <button
                class="header-action__notice js-toggle"
                toggle-target="#modal-message"
            >
                <img src="./assets/icons/bell.svg" alt="" />
            </button>
            <a href="./index.html" class="header-action__out">
                <img
                    src="./assets/icons/logout.svg"
                    alt=""
                    class="header-action__icon"
                />
            </a>
        </div>
    </div>
</div>

<div id="modal-message" class="modal hide">
    <div class="modal-container">
        <img
            src="./assets/icons/arrow-up.png"
            alt=""
            class="modal-container__icon"
        />
    </div>
</div>
