<div class="container">
    <div class="header__inner">
        <a href="./" class="logo">
            <img src="./assets/img/logo.png" alt="" class="logo__img" />
            <h1 class="logo__text">GenAI</h1>
        </a>
        <nav class="header-navbar">
            <ul class="header-navbar__list">
                <li class="header-navbar__item">
                    <a href="./" class="header-navbar__link">Home</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">About us</a>
                </li>
                <li class="header-navbar__item">
                    <a href="./sign-in.html" class="header-navbar__link"
                        >Chat</a
                    >
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">FAQ</a>
                </li>
            </ul>
        </nav>
        <div class="header-action">
            <button class="header-action__notice">
                <img
                    src="./assets/icons/bell.svg"
                    alt=""
                    class="header-action__img"
                />
            </button>
            <a href="./sign-in.html" class="header-action__btn btn">Sign In</a>
        </div>
    </div>
</div>
