<div class="container">
    <div class="header__inner">
        <a href="./index-logined.html" class="logo">
            <img src="./assets/img/logo.png" alt="" class="logo__img" />
            <h1 class="logo__text">GenAI</h1>
        </a>
        <nav class="header-navbar">
            <ul class="header-navbar__list">
                <li class="header-navbar__item">
                    <a href="./index-logined.html" class="header-navbar__link"
                        >Home</a
                    >
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">About us</a>
                </li>
                <li class="header-navbar__item">
                    <a href="./chat.html" class="header-navbar__link">Chat</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">FAQ</a>
                </li>
            </ul>
        </nav>

        <div class="header-action">
            <a href="#" class="header-action__container">
                <img
                    src="./assets/img/avt/avt1.jpg"
                    alt=""
                    class="header-action__avt"
                />
                <h3 class="header-action__name">Nguyễn Văn Nhật</h3>
            </a>
            <button class="header-action__notice">
                <img
                    src="./assets/icons/bell.svg"
                    alt=""
                    class="header-action__icon"
                />
            </button>
            <a href="./index.html" class="header-action__out">
                <img
                    src="./assets/icons/logout.svg"
                    alt=""
                    class="header-action__icon"
                />
            </a>
        </div>
    </div>
</div>
